:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

:global(.vtex-store-components-3-x-container) {
  max-width: 1464px;
}

.shippingTable {
  margin-top: 0;
  padding: 16px 0;
}

.shippingTableRadioBtn {
  accent-color: #444;
}
