:global(.vtex_my-authentication_box_content) {
  margin-bottom: 32px;
}

:global(.vtex_my-authentication_box_container) {
  border-radius: 24px;
  background: #f2f2f2;
  border: 1px solid #d4d8e1;
  padding: 32px;
}

:global(.vtex-my-authentication-1-x-loginSessions_list) {
  gap: 16px;
}

:global(.vtex-my-authentication-1-x-loginSessions_box) {
  padding: 0;
}

:global(.vtex\.my-authentication_authentication)
  :global(.vtex-input-prefix__group) {
  position: relative;
}

:global(.vtex\.my-authentication_authentication) :global(.vtex-input__suffix) {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background: transparent;
  padding-inline: 16px;
}

:global(.vtex-my-authentication-1-x-savePassButton_container) {
  margin: 0;
}

:global(.vtex-my-authentication-1-x-box_footer)
  :global(.vtex-button.hover-b--action-secondary) {
  height: 40px;
}

:global(.vtex-my-authentication-1-x-box_content),
:global(.vtex-my-authentication-1-x-box_footer) {
  padding: 0;
}

:global(.vtex-my-authentication-1-x-box_content),
:global(.vtex_my-authentication_box_content) {
  margin-bottom: 32px;
}

:global(.vtex-my-authentication-1-x-maskedPassword_title),
:global(.vtex-my-authentication-1-x-loginSessionsBox_title) {
  font: 18px/32px 'Open Sans SemiBold', sans-serif;
  color: #363c4a;
  margin-bottom: 4px;
}

:global(.vtex-my-authentication-1-x-box_content)
  :global(.vtex-input-prefix__group) {
  column-gap: 32px;
}
