.flexRow--institucional-banners__container
  :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRow--institucional-banners__container {
  margin-block: 45px;
  background: #f2f2f2;
  padding: 40px 16px;
}

.flexRowContent--institucional-banners__container {
  flex-direction: column;
  align-items: center;
}

.flexRowContent--institucional-banners__wrapper {
  gap: 16px;
}

.flexRowContent--institucional-banners__container .stretchChildrenWidth {
  width: 100% !important;
}

@media (max-width: 780px) {
  .flexRowContent--institucional-banners__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}

@media (max-width: 980px) {
  .flexRow--institucional-banners__container {
    margin: 80px 0 60px;
  }
}

@media (min-width: 1025px) {
  .flexRow--institucional-banners__container {
    margin-block: 90px;
    padding: 80px 32px;
  }
}
